<form action="#" class="main__form">
  {{input type="text" name="title" id="title" value=note.title autofocus="true" class="main__form__input-title"}}
  {{textarea name="content" id="content" value=note.content cols="30" rows="10" class="main__form__input-content"}}
</form>
