<div class="sidebar__list-container">
  <ul class="sidebar__list">
    {{#each notes as |note|}}
      {{note-line note=note index=@index selectedNote=selectedNote action="selectNote"}}
    {{/each}}
  </ul>
  <div class="sidebar__list__tags" style="display: none">
    <select name="tags" id="note_tags" multiple="multiple" data-placeholder="Add some tags...">
    </select>
  </div>
</div>
