<div class="sidebar">
  {{top-bar onSearch="onSearch" onFilterTags="onFilterTags" onAdd="onAdd"}}
  {{note-list notes=notes selectedNote=selectedNote editMode=editMode onSelect="onSelect" onArchive="onArchive" onDelete="onDelete" onUpdateTags="onUpdateTags"}}
</div>
