<div id="main">
  <div class="container">
    {{side-bar notes=model.notes selectedNote=model.selectedNote editMode=model.editMote}}
    {{main-panel note=model.selectedNote editMode=model.editMote}}
  </div>
</div>
