<div id="main">
  <div class="container">
    {{side-bar notes=filteredNotes selectedNote=selectedNote editMode=editMote onSelect="selectNote" onArchive="archiveNote" onDelete="deleteNote" onUpdateTags="updateNoteTags" onSearch="search" onFilterTags="filterTags" onAdd="addNote"}}
    {{main-panel note=selectedNote editMode=editMote onSave="saveNote" onUpdateEditMode="updateEditMode"}}
  </div>
</div>
